@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-lato);
    --parrot: #35E808;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        transition: background-color 0.3s ease, color 0.3s ease;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-lato);
}